body {
  margin: 0;
  padding: 0;
}

main {
  background: #d9dce5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background: #000000;
  padding: 10px;
  border-radius: 10px;
}

.display {
  height: 30%;
  width: 100%;
  align-content: end;
  text-align: end;
  /* background-color: aquamarine; */
}
.display input {
  width: 100%;
  height: auto;
  font-size: 2em;
  box-sizing: border-box;
  text-align: end;
  background-color: #000000;
  color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

#result-display {
  border-bottom: 1px solid rgba(126, 126, 126, 0.884);
  margin-bottom: 15px;
}

span {
  display: inherit;
  height: 100%;
  align-content: end;
  color: white;
  /* background-color: aqua; */
}

.container-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  gap: 10px;
  margin: 4px;
}

.container-buttons button {
  background-color: #333333;
  color: #f1eae0;
  font-size: 2em;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.637);
}

.op-button {
  background-color: #949494 !important;
  color: black !important;
}

.op-button-right {
  background-color: #ff9501 !important;
}
